@charset "UTF-8";

:root{
--vermelho: #
}

.de1 {
background-image: linear-gradient(to bottom, rgb(253, 18, 18), rgb(230, 110, 110));
padding: 30px;
margin: auto;
border-radius: 90px;
}

.de2 {
   background-image: linear-gradient(to bottom, rgb(65, 60, 60), rgb(255, 255, 255));
   padding: 50px;
    margin: auto;
    border-radius: 90px;
    }


    .de3 {
        background-image: linear-gradient(to bottom, rgb(238, 50, 82), rgb(255, 125, 149));
        padding: 20px;
        margin: auto;
        border-radius: 90px;
        }

        body {
            color: rgba(255, 255, 255, 0.685);
    text-align: center;
    background-image: linear-gradient(to bottom, black, rgb(26, 25, 25));
        font-family: 'Montserrat', sans-serif;  
        font-weight: bold; 
    
        }

main > img {
text-align: auto;
display: block;
margin: auto;
width: 100%;
min-width: 400px;
max-width: 650px;


} 
