h1{
color: orange;
}

h2{
color: orange;
}


@media (max-width: 520px) {
h1 {
color: blue;
  }

h2 {
   color: blue;
}
}

@media (min-width: 820px) {
h1 {
color: brown;
}

h2{
color: brown;
}
}








